<ion-grid>
  <ion-col>
    <h3> Lista de tarefas pendentes </h3>
    <ion-row class="ion-padding-start">
      @for (todo of pendingTodoList(); track todo.id) {
        <ion-checkbox labelPlacement="end" [checked]="todo.done"> {{ todo.name }}</ion-checkbox>
      }
    </ion-row>
  </ion-col>
  <ion-col>
    <h3> Lista de tarefas concluídas </h3>
    <ion-row class="ion-padding-start">
      @for (todo of doneTodoList(); track todo.id) {
        <ion-checkbox labelPlacement="end" [checked]="todo.done"> {{ todo.name }}</ion-checkbox>
      }
    </ion-row>
  </ion-col>
</ion-grid>